nav{
    margin: 0;
    padding: 0 !important;
}

ul{
    margin: 0;
    padding: 0;
}

.logo{
    display: block;
    padding: 0.5rem;
}

ul li{
    transition: background-color 0.2s ease;
    display: block;
    padding: 0.5rem;
}
ul li:hover{
    background-color: #E9EDEF;
}